H4 {
  display: flex;
  flex-direction: row;
}
H4:before,
H4:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
H4:before {
  margin-right: 5px;
}
H4:after {
  margin-left: 5px;
}

